
/* }

Button{
    background:transparent;
    font-size:100px;
    color:red;
}
/* placeholder {
    background-color: blue;

/* } */
/* Form.control:focus{
   background-color: blueviolet;
  } */

  /* Button {
    background-color: black;
  } */

  /* .home-hotels-list-container ::before{
    content : "";
    /* background-color: #0b0909;
    border: 1px solid; */
    /* background-image: url("./hotel1.jpg");
    background-size: cover;
    position: absolute; */
  
 /* } */


 /* body::before {    
    content: "";
    background-image: url('./hotel.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
 }

 .home-hotels-list-container {} */
 

 /* .pagination-item{
  font-size: 15px;
  color:blueviolet;
 } */

 /* .buton-color {
  font-size: 15px;
  color:blueviolet;
  line-height: 1.43;

  min-width: 32px;
  letter-spacing: 0.1071em;
 } */

